.barra-menu-barra-menu {
  width: 1440px;
  height: 58px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: center;
}
.barra-menu-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 81px;
  position: absolute;
  border-radius: 0 0 20px 20px;
}
.barra-menu-text {
  top: 26px;
  left: 108px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.barra-menu-text2 {
  top: 35px;
  left: 1097px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Public Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.barra-menu-text4 {
  top: 35px;
  color: rgba(255, 255, 255, 1);
  right: 159px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Public Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.barra-menu-text6 {
  top: 35px;
  left: 1000px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.barra-menu-navlink {
  color: #000000;
  right: 27px;
  width: 108px;
  bottom: 0px;
  height: 35px;
  position: absolute;
  align-self: center;
  text-decoration: none;
}





.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-text {
  color: #ffffff;
}




@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index-desktop1 {
  gap: 24px;
  width: 100%;
  height: 1002px;
  display: flex;
  padding: 0 0 20px 0;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: rgba(51, 50, 50, 1);
}
.index-banner {
  width: 100%;
  height: 313px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #752222;
}
.index-text {
  color: #bcbcbc;
  font-size: 3rem;
  text-align: center;
}
.index-text1 {
  color: #ffffff;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.index-navlink {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-navlink:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .index-text1 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .index-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .index-banner {
    height: 471px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
}
