<div>
  <link href="./barra-menu.css" rel="stylesheet" />
  <div class="barra-menu-barra-menu">
    <img
      alt="Rectangle124"
      src="public/external/rectangle124-lpp-200h.png"
      class="barra-menu-rectangle1"
    />
    <span class="barra-menu-text"><span>Asociación Nemeth</span></span>
    <a href="faq.html" class="barra-menu-text2"><span>FAQ</span></a>
    <a href="memberships.html" class="barra-menu-text4">
      <span>Membresías</span>
    </a>
    <a href="index.html" class="barra-menu-text6"><span>Inicio</span></a>
    <a href="contacto.html" class="barra-menu-navlink button">
      <span>Contacto</span>
    </a>
  </div>
</div>
