<div>
  <link href="./barra-menu1.css" rel="stylesheet" />
  <div class="barra-menu1-barra-menu">
    <img
      alt="Rectangle124"
      src="public/external/rectangle124-lpp-200h.png"
      class="barra-menu1-rectangle1"
    />
    <a href="index.html" class="barra-menu1-text"><span>Inicio</span></a>
    <span class="barra-menu1-text02"><span>Sobre Nosotros</span></span>
    <span class="barra-menu1-text04"><span>Asociación Nemeth</span></span>
    <a href="faq.html" class="barra-menu1-text06"><span>FAQ</span></a>
    <a href="memberships.html" class="barra-menu1-text08">
      <span>Membresías</span>
    </a>
    <svg viewBox="0 0 1024 1024" class="barra-menu1-icon">
      <path
        d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
      ></path>
    </svg>
  </div>
</div>
