<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <form
      id="contacto"
      action="https://formcarry.com/s/76cxv-nVIR"
      method="POST"
      accept-charset="UTF-8"
      class="component-form"
    >
      <input
        type="email"
        name="email"
        enctype="tu email"
        required
        placeholder="tu email"
        class="component-textinput input"
      />
      <input
        type="text"
        name="text"
        enctype="tu email"
        required
        placeholder="Mensaje"
        class="component-textinput1 input"
      />
      <button type="submit" class="component-button button">
        <span>Enviar</span>
      </button>
    </form>
  </div>
</div>
